# Proposed build directory according to README
/build/

# Visual Studio Code
/.vscode/
/src/debug/netcoredbg/bin/
/src/debug/netcoredbg/obj/

# Qt Creator files
CMakeLists.txt.user
*.config
*.creator
*.files
*.includes
*.autosave

# Build artifacts
*.o
*.so
*.a
