# Proposed build directory according to README
/build/

# Visual Studio Code
/.vscode/

# Visual Studio (directories)
.vs

# Qt Creator files
CMakeLists.txt.user
*.config
*.creator
*.files
*.includes
*.autosave

# Build artifacts
*.o
*.so
*.a
*.dll
*.pdb
bin/
obj/

# .NET and CoreCLR downloaded by build system
/.dotnet/
/.coreclr/

# cross-build related files
/.tools/

# GDB-related
.gdb_history

# Vim swap files
.*.sw?
.sw?

# miscellaneous backup files
*~

# core dumps
core
core.*

# ctags index (used to navigate in source code)
tags

# netcoregdb's command history
.netcoredbg_hist
